.expense-item {
	text-align: left;
	transition: background .25s;
	
	&:hover {
		background: #f7f7f7;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $m-size;
		text-decoration: none;
		color: inherit;
		border-bottom: 1px solid #eee;

		@media screen and (min-width: $bp-medium) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__content {
		flex: 3;
	}

	&__title {
		margin-top: 0;
		margin-bottom: .75rem;
		font-size: $m-size;
		word-break: break-all;
	}

	&__date {
		color: #666;
		font-size: 1.4rem;
	}

	&__note {
		position: relative;
		margin-top: $m-size;
		padding-top: $m-size;
		font-style: italic;
		color: #666;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 2rem;
			height: 4px;
			background: #ccc;
		}
	}

	&__amount {
		flex: 1;
		margin-top: $l-size;
		font-weight: 700;
		font-size: $m-size;

		@media screen and (min-width: $bp-medium) {
			text-align: right;
			margin-top: 0;
		}
	}
}